
.a{
font-family: 'Lacquer';
}

.logo{
  width: 135px;
  height: 105px;
  position: absolute;
  bottom: 213px;
  left: 525px;
  border-radius: 50%;
}

.a {
    background-image: url("../img/pregnant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:620px;
    width:100%;
    text-align: center;
    padding-top: 25%;
    font-family: 'Milonga', cursive;
    color:rgba(63, 230, 152, 0.74); 
}
@media only screen and (max-width: 159px) {
  .a {
      height:auto;
      width:100%;  
  }
}
.a h1{
  font-size: 130px;
}
.a p{
  padding-top:3%;
  font-size: 40px;
  padding-bottom:10%;
  background-color: transparent;
}
#form1{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5%;
}
.container-fluid{
  background-image: radial-gradient(circle, #ffffff, #36a8a8);
}
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
/* Day two max css */
.row1 {
  padding-left: 25%;
  padding-right: 25%;
  font-family: 'Milonga', cursive;
  font-size: 20px;
}
.row3 {
  padding-left: 25%;
  padding-right: 30%;
  font-family: 'Milonga', cursive;
  font-size: 20px; 
}
#form1{
  padding-left: 100px;
  padding-right: 100px;
}
.form2{
  padding-left: 100px;
}
#first{
  margin:auto;
}
.first{
font-family: 'Poppins';
}
.second{
font-family: 'Poppins';
}
.third{
font-family: 'Poppins';
}
.fourth{
font-family: 'Poppins';
}
#form1{
font-family:"Roboto Mono";
font-weight:bold;
}
.text-center{
font-family:"Poppins";
}
/* to be deleted */
.output,.output2{
  width:50%;
  margin:auto;
  background-color:white;
}
.userN{
  font-size:28px;
  color:rgba(63, 230, 152, 0.74); 
}
#userDetails{
  list-style-type: none;
}
.firstTriCol,.secondTriCol,.thirdTriCol,.fourthTriCol{
  display:none;
}
.output3{
  background-color: blanchedalmond
  
}
#validInfo,#validInfo1,#validInfo2,#validInfo3,#validInfo4{
display:none;
}